*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'montserrat';
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-color: hsl(346deg, 17%, 70%);
    display: flex;
}

#part1{
    height: 100%;
    width: 26%;
    /* background-color: hsl(344, 84%, 44%); */
}
#part2{
    height: 100%;
    width: 67%;
/*     background-color: hsl(344, 79%, 17%); */
/*     background-image: url('https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bW9kZWx8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60'); */
    background-image: url('/WhatsApp\ Image\ 2023-07-08\ at\ 15.43.56\ \(1\).jpeg');
    background-size: cover;
    background-position: center;
}
#overlay{
      height: 100%;
      width: 100%;
      background-color: hsla(344, 18%, 70%, 0.356);
}
#part3{
    height: 100%;
    width: 7%;
    /* background-color: hsl(98, 100%, 33%); */
}

#text-div{
 /* height: 300px; */
    position: absolute;
    width: 400px;
    /* background-color: red; */
    left: 7%;
    top: 50%;
    transform: translate(0, -50%);
}

#text-div>h1{
    font-size: 70px;
    font-family: monument;
    font-weight: 800;
    letter-spacing: 8px;
    text-transform: uppercase;
    line-height: 65px;
    color: #fff;
}

#small-img-div{
    height: 400px;
    width: 300px;
    /* background-color: red; */
    /* background-image: url('https://images.unsplash.com/photo-1529680459049-bf0340fa0755?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60'); */
    background-image:url('/WhatsApp\ Image\ 2023-07-08\ at\ 16.52.19.jpeg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}

#vertical-text{
    position: absolute;
    /* width: 100%; */
    /* background-color: red; */
    transform: rotate(90deg); 
    right: -42%;
    
    transform-origin: 0% 0%;


}

#vertical-text h1{
     font-size: 60px;
     font-weight: 900;
     text-transform: uppercase;
     font-family: monument;
     -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: #fff;
     color: transparent;
     letter-spacing: 15 px;
     /* transform: rotate(90deg);  */
     
}

#nav{
    position: absolute;
    width: 300px;
    left: 7%;
    top: 5%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav img{
    height: 60px;

}
#nav h5{
    font-size: 20px;
    font-family: gilroy;
    color: #fff;
}
